
.mfv-20541 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20541 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20541 { background-image: none; }
.mfv-20541 .m-layer1 { background-image: none; }

.mfv-20541.hovered { background-image: none; }
.mfv-20541.hovered .m-layer1 { background-image: none; }

.mfv-20541.selected { background-image: none; }
.mfv-20541.selected .m-layer1 { background-image: none; }

.mfv-20541.selected.hovered { background-image: none; }
.mfv-20541.selected.hovered .m-layer1 { background-image: none; }
.mfv-20541-state,
.mfv-20541-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20541-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20541-state { background-image: none; }
.mfv-20541-state .m-layer1 { background-image: none; }

.mfv-20542 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20542 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20542 { background-image: none; }
.mfv-20542 .m-layer1 { background-image: none; }

.mfv-20542.hovered { background-image: none; }
.mfv-20542.hovered .m-layer1 { background-image: none; }

.mfv-20542.selected { background-image: none; }
.mfv-20542.selected .m-layer1 { background-image: none; }

.mfv-20542.selected.hovered { background-image: none; }
.mfv-20542.selected.hovered .m-layer1 { background-image: none; }
.mfv-20542-state,
.mfv-20542-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20542-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20542-state { background-image: none; }
.mfv-20542-state .m-layer1 { background-image: none; }

.mfv-20543 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20543 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20543 { background-image: none; }
.mfv-20543 .m-layer1 { background-image: none; }

.mfv-20543.hovered { background-image: none; }
.mfv-20543.hovered .m-layer1 { background-image: none; }

.mfv-20543.selected { background-image: none; }
.mfv-20543.selected .m-layer1 { background-image: none; }

.mfv-20543.selected.hovered { background-image: none; }
.mfv-20543.selected.hovered .m-layer1 { background-image: none; }
.mfv-20543-state,
.mfv-20543-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20543-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20543-state { background-image: none; }
.mfv-20543-state .m-layer1 { background-image: none; }

.mfv-20544 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20544 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20544 { background-image: none; }
.mfv-20544 .m-layer1 { background-image: none; }

.mfv-20544.hovered { background-image: none; }
.mfv-20544.hovered .m-layer1 { background-image: none; }

.mfv-20544.selected { background-image: none; }
.mfv-20544.selected .m-layer1 { background-image: none; }

.mfv-20544.selected.hovered { background-image: none; }
.mfv-20544.selected.hovered .m-layer1 { background-image: none; }
.mfv-20544-state,
.mfv-20544-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20544-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20544-state { background-image: none; }
.mfv-20544-state .m-layer1 { background-image: none; }

.mfv-20995 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20995 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20995 { background-image: none; }
.mfv-20995 .m-layer1 { background-image: none; }

.mfv-20995.hovered { background-image: none; }
.mfv-20995.hovered .m-layer1 { background-image: none; }

.mfv-20995.selected { background-image: none; }
.mfv-20995.selected .m-layer1 { background-image: none; }

.mfv-20995.selected.hovered { background-image: none; }
.mfv-20995.selected.hovered .m-layer1 { background-image: none; }
.mfv-20995-state,
.mfv-20995-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20995-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20995-state { background-image: none; }
.mfv-20995-state .m-layer1 { background-image: none; }

.mfv-20996 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20996 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20996 { background-image: none; }
.mfv-20996 .m-layer1 { background-image: none; }

.mfv-20996.hovered { background-image: none; }
.mfv-20996.hovered .m-layer1 { background-image: none; }

.mfv-20996.selected { background-image: none; }
.mfv-20996.selected .m-layer1 { background-image: none; }

.mfv-20996.selected.hovered { background-image: none; }
.mfv-20996.selected.hovered .m-layer1 { background-image: none; }
.mfv-20996-state,
.mfv-20996-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20996-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20996-state { background-image: none; }
.mfv-20996-state .m-layer1 { background-image: none; }

.mfv-20997 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20997 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20997 { background-image: none; }
.mfv-20997 .m-layer1 { background-image: none; }

.mfv-20997.hovered { background-image: none; }
.mfv-20997.hovered .m-layer1 { background-image: none; }

.mfv-20997.selected { background-image: none; }
.mfv-20997.selected .m-layer1 { background-image: none; }

.mfv-20997.selected.hovered { background-image: none; }
.mfv-20997.selected.hovered .m-layer1 { background-image: none; }
.mfv-20997-state,
.mfv-20997-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20997-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20997-state { background-image: none; }
.mfv-20997-state .m-layer1 { background-image: none; }

.mfv-20998 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20998 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20998 { background-image: none; }
.mfv-20998 .m-layer1 { background-image: none; }

.mfv-20998.hovered { background-image: none; }
.mfv-20998.hovered .m-layer1 { background-image: none; }

.mfv-20998.selected { background-image: none; }
.mfv-20998.selected .m-layer1 { background-image: none; }

.mfv-20998.selected.hovered { background-image: none; }
.mfv-20998.selected.hovered .m-layer1 { background-image: none; }
.mfv-20998-state,
.mfv-20998-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20998-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20998-state { background-image: none; }
.mfv-20998-state .m-layer1 { background-image: none; }

.mfv-20999 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-20999 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-20999 { background-image: none; }
.mfv-20999 .m-layer1 { background-image: none; }

.mfv-20999.hovered { background-image: none; }
.mfv-20999.hovered .m-layer1 { background-image: none; }

.mfv-20999.selected { background-image: none; }
.mfv-20999.selected .m-layer1 { background-image: none; }

.mfv-20999.selected.hovered { background-image: none; }
.mfv-20999.selected.hovered .m-layer1 { background-image: none; }
.mfv-20999-state,
.mfv-20999-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-20999-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-20999-state { background-image: none; }
.mfv-20999-state .m-layer1 { background-image: none; }

.mfv-21000 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21000 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21000 { background-image: none; }
.mfv-21000 .m-layer1 { background-image: none; }

.mfv-21000.hovered { background-image: none; }
.mfv-21000.hovered .m-layer1 { background-image: none; }

.mfv-21000.selected { background-image: none; }
.mfv-21000.selected .m-layer1 { background-image: none; }

.mfv-21000.selected.hovered { background-image: none; }
.mfv-21000.selected.hovered .m-layer1 { background-image: none; }
.mfv-21000-state,
.mfv-21000-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21000-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21000-state { background-image: none; }
.mfv-21000-state .m-layer1 { background-image: none; }

.mfv-21001 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21001 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21001 { background-image: none; }
.mfv-21001 .m-layer1 { background-image: none; }

.mfv-21001.hovered { background-image: none; }
.mfv-21001.hovered .m-layer1 { background-image: none; }

.mfv-21001.selected { background-image: none; }
.mfv-21001.selected .m-layer1 { background-image: none; }

.mfv-21001.selected.hovered { background-image: none; }
.mfv-21001.selected.hovered .m-layer1 { background-image: none; }
.mfv-21001-state,
.mfv-21001-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21001-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21001-state { background-image: none; }
.mfv-21001-state .m-layer1 { background-image: none; }

.mfv-21002 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21002 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21002 { background-image: none; }
.mfv-21002 .m-layer1 { background-image: none; }

.mfv-21002.hovered { background-image: none; }
.mfv-21002.hovered .m-layer1 { background-image: none; }

.mfv-21002.selected { background-image: none; }
.mfv-21002.selected .m-layer1 { background-image: none; }

.mfv-21002.selected.hovered { background-image: none; }
.mfv-21002.selected.hovered .m-layer1 { background-image: none; }
.mfv-21002-state,
.mfv-21002-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21002-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21002-state { background-image: none; }
.mfv-21002-state .m-layer1 { background-image: none; }

.mfv-21003 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21003 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21003 { background-image: none; }
.mfv-21003 .m-layer1 { background-image: none; }

.mfv-21003.hovered { background-image: none; }
.mfv-21003.hovered .m-layer1 { background-image: none; }

.mfv-21003.selected { background-image: none; }
.mfv-21003.selected .m-layer1 { background-image: none; }

.mfv-21003.selected.hovered { background-image: none; }
.mfv-21003.selected.hovered .m-layer1 { background-image: none; }
.mfv-21003-state,
.mfv-21003-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21003-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21003-state { background-image: none; }
.mfv-21003-state .m-layer1 { background-image: none; }

.mfv-21004 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21004 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21004 { background-image: none; }
.mfv-21004 .m-layer1 { background-image: none; }

.mfv-21004.hovered { background-image: none; }
.mfv-21004.hovered .m-layer1 { background-image: none; }

.mfv-21004.selected { background-image: none; }
.mfv-21004.selected .m-layer1 { background-image: none; }

.mfv-21004.selected.hovered { background-image: none; }
.mfv-21004.selected.hovered .m-layer1 { background-image: none; }
.mfv-21004-state,
.mfv-21004-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21004-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21004-state { background-image: none; }
.mfv-21004-state .m-layer1 { background-image: none; }

.mfv-21005 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21005 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21005 { background-image: none; }
.mfv-21005 .m-layer1 { background-image: none; }

.mfv-21005.hovered { background-image: none; }
.mfv-21005.hovered .m-layer1 { background-image: none; }

.mfv-21005.selected { background-image: none; }
.mfv-21005.selected .m-layer1 { background-image: none; }

.mfv-21005.selected.hovered { background-image: none; }
.mfv-21005.selected.hovered .m-layer1 { background-image: none; }
.mfv-21005-state,
.mfv-21005-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21005-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21005-state { background-image: none; }
.mfv-21005-state .m-layer1 { background-image: none; }

.mfv-21006 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21006 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21006 { background-image: none; }
.mfv-21006 .m-layer1 { background-image: none; }

.mfv-21006.hovered { background-image: none; }
.mfv-21006.hovered .m-layer1 { background-image: none; }

.mfv-21006.selected { background-image: none; }
.mfv-21006.selected .m-layer1 { background-image: none; }

.mfv-21006.selected.hovered { background-image: none; }
.mfv-21006.selected.hovered .m-layer1 { background-image: none; }
.mfv-21006-state,
.mfv-21006-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21006-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21006-state { background-image: none; }
.mfv-21006-state .m-layer1 { background-image: none; }

.mfv-21007 .m-layer1 {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}
.mfv-21007 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.mfv-21007 { background-image: none; }
.mfv-21007 .m-layer1 { background-image: none; }

.mfv-21007.hovered { background-image: none; }
.mfv-21007.hovered .m-layer1 { background-image: none; }

.mfv-21007.selected { background-image: none; }
.mfv-21007.selected .m-layer1 { background-image: none; }

.mfv-21007.selected.hovered { background-image: none; }
.mfv-21007.selected.hovered .m-layer1 { background-image: none; }
.mfv-21007-state,
.mfv-21007-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-21007-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21007-state { background-image: none; }
.mfv-21007-state .m-layer1 { background-image: none; }

